
.card {
    box-shadow: 10 20px 48px #E3E7EB;
    border-radius: 10px;
    padding-bottom: 10px;
    
}
.card a{text-decoration: none;
color:#000
}

.card a img{border: none;}
.blog{margin-top: 30px;}

.card-body p {
font-size: 1em;
line-height: 1.2;
margin-top: 10px;
margin-bottom: 10px;
color: #3a464b;
font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-body h1{
font-weight: 200;
font-size: 1.5em;
color: #000;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.card-body img.courIcon{
    float: left;
    overflow: hidden;
    width: 89px;
    border-radius: 45px;
    display: block;
    margin-right: 35px;
    margin-left: 20px;
    margin-top: 20px;
  }
  


.card a img{border:none;}
.card a img.courIcon{
float: left;
overflow: hidden;
width: 89px;
border-radius: 45px;
display: block;
margin-right: 35px;
margin-left: 20px;
margin-top: 20px;
}






  