{% extends "base.html" %} 

{% block content %}
<style>
    form i.fas{
        margin: 5px;
    }
    .confirm-btn{
background-color: rgba(255, 0, 0, 0.671);  
height: 43px;
border-radius: 10px;
color: white;
border: none;
}
</style>

<div class="container">
    <h1>Supprimer le cour</h1>
    <h3>Supprimer: {{cour.title}}</h3>
</br>
<div class="form-group">
    <form method="POST">
        {% csrf_token %}

        <strong>Vous étes sur de supprimer le cour?</strong>
        </br></br>
        <button class="confirm-btn"><i class="fas fa-trash"></i>Oui</button>
        <a href="{% url 'cour-index' %}" class="annuler1"><i class="fas fa-times-circle"></i>Non</a>
    </div>
</div>
{%endblock%}